/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  color: white;
  background-image: linear-gradient(135deg, #222 0%, #111 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;

  min-height: 100%;
}

.app-title {
  &__block {
    text-align: center;
  }
  &__item {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.container {
  width: 100%;
  max-width: 75rem;
  margin-inline: auto;
}

.header {
  flex: 0 1 auto;
  height: 100px;
  width: 100vw;
}

.navigation {
  flex: 0 1 auto;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.button {
  border: 0;
  background-color: #4a6da7;
  color: white;
  font-size: 16px;
  width: 185px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background-color: #6785b4;
  }
}

.button--vote {
  width: 100%;
  background-color: #2d4367;
}

.articles {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-block: 4rem;

  &__header {
    color: #fd9d42;

    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;

    > h1 {
      font-size: 3rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-inline: -1rem;
  }
}

.article {
  &__link {
    text-decoration: none;
    color: #a4b8df;
    padding: 1rem;
    display: block;
    transition: background-color 0.2s, color 0.2s;

    &:hover,
    &:focus {
      background-color: rgba(#2d4367, 0.6);
      color: white;
    }
  }

  &__title {
    display: block;
    font-size: 1.5rem;
    margin-block-start: 1rem;
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
  }
}

.candidate-title {
  text-align: center;
}

.candidate-container {
  flex: 1 1 auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.candidate {
  &__link {
    text-decoration: none;
    color: #a4b8df;
  }
  &__title {
    display: block;
    font-size: 20px;
    color: #a4b8df;
  }
  &__item {
    width: 250px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  &__img {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .articles-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .candidate-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.login-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;

  &__input {
    font-size: 1rem;
    width: 100%;
    height: auto;
    padding: 0.75em 1em;
    margin-bottom: 1rem;
    border: 0;
    appearance: none;
    background-color: white;
  }

  &__button {
    width: 100%;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
