/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  color: white;
  background-image: linear-gradient(135deg, #222 0%, #111 100%);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;

  min-height: 100%;
}

.app-title {
  &__block {
    text-align: center;
  }
  &__item {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.container {
  width: 100%;
  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.header {
  flex: 0 1 auto;
  height: 100px;
  width: 100vw;
}

.navigation {
  flex: 0 1 auto;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;

  .button {
    width: auto;
    min-width: 17.5rem;
  }
}

.button {
  border: 0;
  background-color: #4a6da7;
  color: white;
  font-weight: bold;

  font-size: 1.5rem;
  width: 100%;
  height: auto;
  padding: 0.5em 0.75em;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background-color: #6785b4;
  }
}

.articles {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-block: 4rem;

  &__header {
    color: rgb(255 255 255 / 80%);
    margin-block-end: 3rem;

    > h1,
    > h2 {
      color: #fd9d42;
      font-family: 'Nothing You Could Do', cursive;
      font-weight: 400;
      font-style: normal;
      margin: 0;
    }

    > h1 {
      font-size: 3rem;

      + h2 {
        margin-block-start: 0.5rem;
      }
    }

    > h2 {
      font-size: 2.5rem;
      opacity: 0.8;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-inline: -1rem;

    &--candidates {
      margin-inline: 0;

      &:has(> :hover) .candidate,
      &:focus-within .candidate,
      &:has(> .candidate--voted) .candidate {
        opacity: 0.5;
      }
    }
  }
}

.article {
  &__link {
    text-decoration: none;
    color: #a4b8df;
    padding: 1rem;
    display: block;
    transition:
      background-color 0.2s,
      color 0.2s;

    &:hover,
    &:focus {
      background-color: rgba(#2d4367, 0.6);
      color: white;
    }
  }

  &__title {
    display: block;
    font-size: 1.5rem;
    margin-block-start: 1rem;
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
  }
}

.candidate {
  padding: 0.5rem;
  display: block;
  background-color: white;
  transition: opacity 0.2s;
  position: relative;

  &:hover,
  &:focus-within,
  &--voted {
    opacity: 1 !important;
  }

  &:focus-within .button,
  &:hover .button {
    pointer-events: initial;
    opacity: 1;
  }

  &__button {
    appearance: none;
    padding: 0;
    border: 0;
    cursor: pointer;
  }

  &__img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
  }

  &__vote {
    color: #222;
    font-weight: bold;
    text-align: center;
    margin-block-start: 0.5rem;
    font-size: 1.125rem;
  }

  .button {
    position: absolute;
    inset-block-end: 0.5rem;
    inset-inline: 0.5rem;
    width: auto;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

@media (max-width: 800px) {
  .articles-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .candidate-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.login-container {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: center;

  &__input {
    font-size: 1.5rem;
    width: 100%;
    height: auto;
    padding: 0.75em 1em;
    margin-bottom: 1rem;
    border: 0;
    appearance: none;
    background-color: white;
  }

  &__button {
    width: 100%;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

dialog {
  padding: 0;
  appearance: none;
  background-color: #222;
  width: 100dvw;
  height: 100dvh;

  &[open] {
    display: flex;
    align-items: center;
  }

  &:focus {
    outline: none;
  }

  .container {
    position: relative;
  }

  .button--vote,
  .candidate__vote {
    position: absolute;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inset-block-end: 0;

    max-width: 100%;
    width: 30rem;
  }

  .candidate__vote {
    background-color: white;
    padding: 1rem 2rem;
  }
}

.button--prev,
.button--next,
.button--close {
  width: 5rem;
  height: 5rem;
  padding: 0;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  appearance: none;
  background-color: #4a6da7;
  color: white;

  position: absolute;
  inset-block-start: 50%;
  transform: translateY(-50%);
  inset-inline-end: 0;
  transition: all 0.2s;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #6785b4;
  }

  > svg {
    color: currentColor;
    fill: currentColor;

    width: 60%;
    height: auto;
  }
}

.button--prev {
  inset-inline-start: 0;
  inset-inline-end: auto;

  > svg {
    transform: scaleX(-1);
  }
}

.button--close {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  transform: none;
}
